h1 {
  text-align: center;
}
.marker {
  width: 200px;
  height: 25px;
  margin: 10px auto;
}
.container {
  background-color: black;
  padding: 10px 0;
}
.one {
  background-color: red;
}
.two {
  background-color: green;
}
.three {
  background-color: blue;
}
